<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Current user</title>
    <meta charset="utf-8">
    <!--  чтобы страница открывалась на любых устройства адаптивно-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <!-- Иконка -->
    <link rel="icon" href="https://img.freepik.com/free-icon/leaf_318-654663.jpg">

</head>
<body class="bg-light">
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand" th:text="|${user.getEmail()} with roles :|"/>
                <a th:each="role : ${user.getRoles()}">
                    <a class="navbar-brand" th:text="|${role.toString()} |"/>
                </a>
            </div>
            <form class="d-flex" th:method="get" th:action="@{/logout}">
                <button class="btn btn-dark text-secondary" type="submit">Logout</button>
            </form>
        </div>
    </nav>
</div>

<div class="row pe-5">
    <div class="col-sm-2 bg-white vh-100 px-0">
        <div class="nav flex-column nav-pills ps-2" aria-orientation="vertical" id="v-pills-tab" role="tablist">
            <a class="nav-link active" href="/user">User</a>
        </div>
    </div>
    <div class="col-sm">
        <h1>User information-page</h1>
        <div class="tab-content border">
            <div class="tab-pane fade show active" id="all">
                <div class="btn text-start container-fluid border px-3 pt-3 pb-2 bg-light">
                    <h5>About user</h5>
                </div>
                <div class="px-4 py-3">
                    <table class="table table-sm table-striped border-top">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="border-bottom: hidden">
                            <td th:text="|${user.getId()}|"/>
                            <td th:text="|${user.getUsername()}|"/>
                            <td th:text="|${user.getLastName()}|"/>
                            <td th:text="|${user.getAge()}|"/>
                            <td th:text="|${user.getEmail()}|"/>
                            <td><a th:each="role : ${user.getRoles()}" th:text="|${role} |"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>
